* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
a {
  color: black;
  transition: all 0.5s;
}
a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
@import "./Components/css/Carousel.css";
@import "./Components/css/Header.css";
@import "./Components/css/Films.css";
@import "./Components/css/Cinema.css";
@import "./Components/css/News.css";
@import "./Components/css/MobileApp.css";
@import "./Components/css/Footer.css";
